/*--  startsida  --*/
/*--  Den här är den CSS fil som är länkad till min huvud index.html sida. Varje HTML sida jag har har en separat CSS fil men många utav dem CSS filerna är direkt kopierade
utav den här, men att dem också är något justerade för att vara anpassade för deras specifika HTML sida. Så jag kommer försöka kommentera så mycket jag kan i denna fil och sen 
endast kommentera justeringera i de andra CSS filerna för att inte upprepra mig hela tiden.  --*/

/*-- Det första man kan se i den här filen är hur jag lagt in en "root{" och ".dark-theme" Det är dom med mitt länkade HTML script som gör att darktheme fungerar på hemsidan.
Jag har lagt in både en "primary-color" som är en vit färg och så sedan en "secondary-color" som är svart. I varje sektion där jag har en text eller background som är svart har jag 
istället för att skriva "color: #212121" istället skrivit "color:var(--secondary-color)"" Det gör att jag kan styra vilken färg alla de sektionerna med den tagen ska
ha samtidigt bara med att under ":root{"" ändra # till den färgen jag vill. Vill jag manuelt ändra hemsidan från svart till vit så bytter jag bara plats på # från "primary-color"
till "secondary-color". Nu har jag istället ett script som byter plats på dem automatiskt med att trycka på den symbolen jag valt att ha på hemsidan.

Det är även här i början jag under "html{"" tagen lagt in "scrool-behavior" som är det som gör att länkarna i min sidomeny scrollor ned långsamt och mer "smooth" istället för
att den direkt ska hoppa ditt man trycker. Lite längre ned finns det också en "hover" tag som gör att det kommer fram en liten grafisk linge under min sidomeny när man rör
musen där  --*/

*{
	margin: 0;
	padding: 0;
	font-family: 'poppins'; sans-serif;
	box-sizing: border-box;
}
:root{
	--primary-color: #edf2fc;
	--secondary-color: #212121;
}
.dark-theme{
	--primary-color: #000106;
	--secondary-color: #fff;
}

#icon{
	width: 30px;
	cursor: pointer;
}
nav ul{
	flex: 1;
	text-align: right;
}

html{
	scroll-behavior: smooth;
}
body{
	background:var(--secondary-color);;;;
	color: var(--primary-color);
}
#header{
	width: 100%;
	height: 100vh;
	background: var(--secondary-color);
}
.container{
	padding: 10px 10% ;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between ;
	flex-wrap: wrap;
}

.logo{
	width: 110px;

}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a{
	color: var(--primary-color);
	text-decoration: none ;
	font-size: 18px;
	position: relative;
}
nav ul li a::after{
	content: '';
	width: 0%;
	height: 3px;
	background: #006cdb;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
nav ul li a:hover::after{
	width: 100%;
}
.header-text{
	margin-top: 20%;
	font-size: 30px;

}
.header-text h1{
	font-size: 60px;
	margin-top: 20px;
	color: var(--primary-color);
}
.header-text h1 span{
	color: #5993bb;
}
.header-text p{
	color: var(--primary-color);
}
/*--  about  --*/
/*Här kommer kodningen som är till about sektionen utav hemsidan.
Förutom kodning som är till för att ändra storleken på text, färg och marginaler så har jag ocskså längst ned vid "tab-links och tab-content" gjort så det under
tabsen finns en blå linge som kommer upp när man trycker på den taben, så man vet vilken tab man är på. Precis som texten så har jag gjort så att den försvinner 
när man trycker på en annan tab, så att den dyker upp på nästa tab istället*/
#about{
	padding: 80px 0;
	color: #ababab;
	background: 
var(--secondary-color);
}
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-col-1{
	flex-basis: 37%;

}
.about-col-1 img{
	width: 100%;
	border-radius: 15px;
	margin-top: 60px;

}
.about-col-2{
	flex-basis: 60%;
	margin-top: 190px;
	color: var(--primary-color);

}
.sub-title{
	font-size: 60px;
	font-weight: 600;
	color: #edf2fc;
}
.layer h3{
	color: #edf2fc;
}
.layer p{
	color: #edf2fc;
}
.tab-titles{
	display: flex;
	margin: 20px 0 40px;
}
.tab-links{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}
.tab-links::after{
	content: "";
	width: 100;
	height: 3px;
	background: #006cdb;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after{
	width: 50%;
}

.tab-contents ul li{
	list-style: none;
	margin: 10px 0;
}
.tab-contents ul li span{
	color: #5993bb;
	font-size: 14px;
}
.tab-contents{
	display: none;
}
.tab-contents.active-tab{
	display: block;
}

/*--  services  --*/
/*Här på services sektionen har jag precis som ovan kodat in textstorlek, färg och snygg marginal på texten. I "services-list" tagen har jag gjort displayen i en grid,
så att varje text ruta är brevid varandra istället för över varandra så man ser dem samtidigt. Precis under i "services-list div" har jag gjort backrunden till textrutorna
till en lite ljusare svart så man tydligt ser att det är små textrutor. Jag har där även lagt in en "transition tag" som gör att när rutorna rör sig och bytter färg till blå
så gör dem de inte direkt utan det är en 0.5s fördröjning. Det som gör att rutorna ändrar färg och rör sig en liten bit uppåt är för jag längst ned lagt in en "div:hover" i services-
list tagen. I den har jag skrivit background: "#5993bb" för att ändra färgen till blå när man rör vid rutorna, och så har jag skrivit "transform: translateY(-10px)"" så att den rör sig
10px när man rör musen vid rutan.*/
#services{
	padding: 30px 0;
	background: 
var(--secondary-color);
}
.sub-title{
	color: var(--primary-color);
}
.services-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
	color: #edf2fc;
}
.services-list div{
	background: #262626;
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
}
.services-list div i{
	font-size: 50px;
	margin-bottom: 30px;
	color: #5993bb;
}
.services-list div h2{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}
.services-list div a{
	text-decoration: none;
	color: #edf2fc;
	font-size: 18px;
	margin-top: 25px;
	display: inline-block;
}
.services-list div:hover{
	background: #5993bb;
	transform: translateY(-10px);
}
/*--  Portfolio  --*/
/*Likt sektionen över så har jag även här gjort displayen i grid och jag har även gjort en en liten färgoverlay på bilderna i ".layer{"" Här är det istället en linear-gradient
i background istället för en hel färg så man fortfarande kan se bilden bakom. Sen precis som sektionen över så är det en transition height på 0.5s så färgen inte ändras direkt.
Jag har också längre ned i "work:hover img{" lagt ditt en hover tag och en transform: scale(1.1) så att när man rör vid bilderna så blir dem lite större (scale.1.1) så att det ser
ut som dem zoomas in.*/
#portfolio{
	padding: 50px 0;
	background: 
var(--secondary-color);
}
.work-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.work{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.work img{
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}
.layer{
	width: 100%;
	height: 0%;
	background: linear-gradient(rgba(0,0,0,0.6), #008bdb);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}
.layer h3{
	font-weight: 500;
	margin-bottom: 20px;
}
.layer a{
	margin-top: 20px;
	color: #006cdb;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}
.work:hover img{
	transform: scale(1.1);
}
.work:hover .layer{
	height: 100%;
}
.btn{
	display: block ;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid #006cdb;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: var(--primary-color);
	transition: background 0.5s;
}
.btn:hover{
	background: #006cdb;

}

/*--  contact  --*/
/* Har gjort inprincip samma sak här som tidigare sektioner. Fixat marginalerna och färgerna på både texten men också rutorna bakom så att dem syns bättre på hemsidan.
På vissa utav symbolerna har jag som innan lagt in en transform så dem ska röra sig och hoppa till lite när man rör musen vid dem.*/
#contact{
	background: 
var(--secondary-color);
}
.contact-left{
	flex-basis: 35%;
}
.contact-right{
	flex-basis: 60%;
}
.contact-left p{
	margin-top: 30px;
	color: var(--primary-color);
}
.contact-left p i{
	color: #5993bb;
	margin-right: 15px;
	font-size: 25px;
}
.social-icons{
	margin-top: 30px;
}
.social-icons a{
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #ababab;
	display: inline-block;
	transition: transform 0.5s;
}
.social-icons a:hover{
	color: #5993bb;
	transform: translateY(-5px);
}
.btn.btn2{
	display: inline-block;
	background: #006cdb;
}
.contact-right form{
	width: 100%;
}
form input, form textarea{
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}
form .btn2{
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}
.copyright{
	width: 100%;
	text-align: center;
	padding: 25px 0;
	font-weight: 300;
	margin-top: 20px;
}
.copyright i{
	color: #006cdb;
}
/*--  CSS mindre skärm  --*/
/* Här är CSS kodningen som är länkat till scripten jag har i min index.html fil. 
Här har jag som det står gjort så att (max-width) endast är 600px så att hemsidan för mindre skärmar 
fortfarande kommer se bra ut. MSG tagen längst ned är till själva meddelandet som kommer up när man skickar ett mail via hemsidan.*/

nav .fas{
	display: none;
}
nav .fas{
	display: none;
}

@media only screen and (max-width: 600px){
	#header{
		background-image: ;
	}
	.header-text{
		margin-top: 100%;
		font-size: 16px;
	}
	.header-text h1{
		font-size: 30px;
	}
	nav .fas{
		display: block;
		font-size: 25px;
	}
	nav ul{
		background: #ff004f;
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;
	}
	nav ul li{
		display: block;
		margin: 25px;
	}
	nav ul .fas{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}
	.sub-title{
		font-size: 40px;
	}
	.about-col-1, about-col-2{
		flex-basis: 100%;
	}
	.about-col-1{
		margin-bottom: 30px;
	}
	.about-col-2{
		font-size: 14px;
	}
	tab-links{
		font-size: 16px;
		margin-right: 20px;
	}
	.contact-left, .contact-right{
		flex-basis: 100%;
	}
	.copyright{
		font-size: 14px;
	}
}
#msg{
	color: #61b752;
	margin-top: -40px;
	display: block;
}

#placeholder{
	text-align: center;
	margin-top: 10px;
}

